* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  width: 100%;
  background-color: #222;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  margin: 0;
}

.header-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  width: 100%;
  max-width: 400px;
  margin-top: 60px; /* To account for the fixed header */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

#user-info {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin-top: 80px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

#user-info h2 {
  margin-bottom: 10px;
}

#user-info p {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
}

.form-container {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.form-container input,
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.form-container button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.service-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #222;
  color: #fff;
}

.service-table th,
.service-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.service-table th {
  background-color: #007bff;
  color: #fff;
}
