* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  width: 100%;
  background-color: #222;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  margin: 0;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.reset-password-btn,
.signout-btn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  width: 100%;
  max-width: 400px;
  margin-top: 60px; /* To account for the fixed header */
}

.form-container {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 48%;
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.form-toggle button.active {
  background-color: #fff;
  color: #000;
}

.form {
  display: flex;
  flex-direction: column;
}

.form.hidden {
  display: none;
}

.form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.form button {
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.forgot-password {
  color: #fff;
  text-align: center;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}
.hidden {
  display: none;
}
.forgot-password:hover {
  text-decoration: underline;
}

.role-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.role-selection button {
  width: 32%;
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.role-selection button.active {
  background-color: #fff;
  color: #000;
}

#user-info {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
}
